body {
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: initial;
}

.container__aluna {
  width: 200px;
  margin: 20px;
}

.container__aluna-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}